@import url("https://fonts.googleapis.com/css2?family=Imperial+Script");
@import url("https://fonts.googleapis.com/css2?family=Poppins");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins";
}

.sticky {
  @apply fixed z-[9999] transition bg-white bg-opacity-80;
  backdrop-filter: blur(5px);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}
