body,
html {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: linear-gradient(180deg, #ffc0ce 0%, #6de2fe 100%);
}
.font-script {
  font-family: "Imperial Script";
}
h1.font-script {
  font-size: 30px;
}
